# Configuración de la base de datos
# Railway te dará esta URL automáticamente cuando crees la base de datos PostgreSQL
DATABASE_URL=postgresql://username:password@host:port/database

# Configuración del servidor
NODE_ENV=production
PORT=3000

# Configuración de Email
# Para Gmail, necesitas generar una "App Password" en tu cuenta de Google
EMAIL_USER=tu-email@gmail.com
EMAIL_PASS=tu-app-password-de-gmail
FRONTEND_URL=https://tu-dominio.com